.CardImg {
    width: 300px;
  }
  
  .Cart_container {
    width: 24rem;
    display: flex;
   align-items: center;
    justify-content: center;
    height: 20rem;
    
  }
  .body_Cart {
    height: 15rem;
    width: 100%;
    background-color: orangered;
   
    
    
  }
  .title_Cart {
    display: flex;
    align-items: flex-start;
    font-size: 23px;
    font-size: 1.5rem;
    font-weight: 600;
    color: floralwhite;
    width: 100%;
    
  }
  .text_Cart {
    font-size: 18px;
    margin: 0%;
    width: 100%;
    display: flex; 
    align-items: flex-start;
    color: aliceblue;
    
  }
  .Home_cart {
    display: flex;
    flex-wrap: wrap;
    
    
    gap: 2rem;
  }
  .Button_Car {
    margin: 0.25rem;
    
    
  }
  .button_container {
    display: flex;
    
    width: 200px;
    margin: 0.5rem;
    
  }
  .col_container {
    display: flex;
    text-align: center;
    justify-content: center;
    
  }