.CardImg {
    width: 300px;
  }
  
  .Cart_container {
    width: 24rem;
    display: flex;
   align-items: center;
    justify-content: center;
    height: 20rem;
     
  }
  .body_Cart {
    height: 12rem;
    width: 100%;
    background-color: aqua;
   
    
    
  }
  .title_Cart {
    
    font-size: 1.5rem;
    font-weight: 600;
  }
  .text_Cart {
    font-size: 14px;
    margin: 0%;
    width: 100%; 
  }
  .Home_cart {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    
    gap: 2rem;
  }
  .Button_Cart {
    margin: 0.50rem;
    
  }
  .button_container {
    display: flex;
   align-items: center;
   justify-content: center;
    width: 100%;
    margin: 0.5rem;
    background-color: bisque;
  }
  .col_container {
    display: flex;
    text-align: center;
    justify-content: center;
    
  }
  .CardImg_1 {
    width: 400px;

}